Repository DimitarMalamski/CareerPath: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-build, build, test

frontend-build:
  stage: build
  before_script:
  - cd frontend
  variables:
    NPM_CONFIG_CACHE: $CI_PROJECT_DIR/frontend/.npm
    NODE_OPTIONS: --max-old-space-size=4096
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
    - frontend/.angular/cache/
    - frontend/node_modules/.cache/
  ...

build:
  before_script:
  - cd $WORK_DIR
  variables:
    GRADLE_USER_HOME: $CI_PROJECT_DIR/.gradle
  cache:
    key:
      files:
      - backend/gradle/wrapper/gradle-wrapper.properties
      - backend/build.gradle
      - backend/settings.gradle
    paths:
    - .gradle/
    policy: pull-push
  stage: build
  script:
  ...

test:
  before_script:
  - cd $WORK_DIR
  variables:
    GRADLE_USER_HOME: $CI_PROJECT_DIR/.gradle
  cache:
    key:
      files:
      - backend/gradle/wrapper/gradle-wrapper.properties
      - backend/build.gradle
      - backend/settings.gradle
    paths:
    - .gradle/
    policy: pull-push
  stage: test
  script:
  ...

Adjusting CI/CD caching
  .gitlab-ci.yml
Due: none

Test
  backend/src/main/java/com/careerpath/controller/UserController.java
Due: build, test

Test
  .gitlab-ci.yml
  backend/src/main/java/com/careerpath/controller/UserController.java
Due: build, test

Test
  .gitlab-ci.yml
Due: none

Two layers of the C4 diagram created
  docs/diagrams/CareerPath – Container Diagram.png
  docs/diagrams/CareerPath – System Context Diagram script.txt
  docs/diagrams/CareerPath – System Context Diagram.png
  docs/feedbacks/CareerPath - Portfolio setup feedback.png
  docs/feedbacks/CareerPath - Tech stack research.png
  docs/feedbacks/CareerPath - Techincal choices made.png
  docs/feedbacks/SOFFT Dashboard - Poker planning.png
  docs/feedbacks/SWOT discussion.png
  docs/photos/CareerPath - Frontend file structure.png
  docs/photos/CareerPath - Initial display of data.png
Due: none

Listing job listing in the application
  backend/src/main/java/com/careerpath/controller/JobController.java
  backend/src/main/java/com/careerpath/dto/JobListingDto.java
  backend/src/main/java/com/careerpath/mapper/JobListingMapper.java
  backend/src/main/java/com/careerpath/mapper/UserMapper.java
  backend/src/main/java/com/careerpath/repository/JobSkillRepository.java
  backend/src/main/java/com/careerpath/service/JobListingService.java
  frontend/src/app/app.html
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/components/home/home.component.ts
  frontend/src/app/components/job-list/job-list.component.html
  frontend/src/app/components/job-list/job-list.component.ts
  frontend/src/app/models/job-listing.ts
  frontend/src/app/services/job.service.ts
Due: frontend-build, build, test

displaying the job listings and touching up the routing
  docs/diagrams/.$CareerPath - ERD.drawio.bkp
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/components/user/user.component.html
  frontend/src/app/components/user/user.component.ts
  frontend/src/app/models/User.ts
  frontend/src/app/models/profile.dto.ts
  frontend/src/app/models/user.dto.ts
  frontend/src/app/services/user.service.ts
Due: frontend-build

insert initial design of the application
  docs/design/CareerPath_Dashboardpage_1.png
  docs/design/CareerPath_Dashboardpage_2.png
  docs/design/CareerPath_Homepage_1.png
  docs/design/CareerPath_Homepage_2.png
  docs/design/CareerPath_Homepage_3.png
  docs/design/CareerPath_Jobspage_1.png
  docs/design/CareerPath_Jobspage_2.png
  docs/design/CareerPath_Loginpage.png
  docs/design/CareerPath_Profilepage_1.png
  docs/design/CareerPath_Profilepage_2.png
  docs/design/CareerPath_Registerpage.png
Due: none

starting to implement the navbar
  frontend/src/app/app.routes.ts
  frontend/src/app/components/shared/navbar/navbar.component.html
  frontend/src/app/components/shared/navbar/navbar.component.ts
  frontend/src/app/layout/app-layout/app-layout.component.html
  frontend/src/app/layout/app-layout/app-layout.component.ts
Due: frontend-build

Extracting the Login button into a separate component
  frontend/src/app/components/login-button/login-button.component.html
  frontend/src/app/components/login-button/login-button.component.ts
  frontend/src/app/components/shared/navbar/navbar.component.html
  frontend/src/app/components/shared/navbar/navbar.component.ts
Due: frontend-build

creating an example hero section for the home page
  frontend/src/app/app.routes.ts
  frontend/src/app/components/home/hero-section/hero-section.component.html
  frontend/src/app/components/home/hero-section/hero-section.component.ts
  frontend/src/app/components/home/home.component.html
  frontend/src/app/components/home/home.component.ts
  frontend/src/app/components/shared/login-button/login-button.component.html
  frontend/src/app/components/shared/login-button/login-button.component.ts
  frontend/src/app/components/shared/navbar/navbar.component.ts
  frontend/src/app/layout/main-layout/main-layout.component.html
  frontend/src/app/layout/main-layout/main-layout.component.ts
Due: frontend-build

Touching up the CI/CD
  .gitlab-ci.yml
Due: none

Trigger CI with Docker Compose integration
  .gitlab-ci.yml
  backend/Dockerfile
  backend/src/main/java/com/careerpath/controller/JobController.java
  backend/src/main/resources/application.properties
  docker/docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
Due: frontend-build, build, test

Trigger CI with Docker Compose integration
  .gitlab-ci.yml
Due: none

Checking pipeline details
  .gitlab-ci.yml
Due: none

Refactoring the pipeline
  .gitlab-ci.yml
Due: none

Fixing syntax issues
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

test
  .gitignore
  backend/build.gradle
  backend/run.ps1
  backend/src/main/resources/application.properties
  docker/docker-compose.yml
  frontend/src/app/services/job.service.ts
  frontend/src/environments/environments.prod.ts
  frontend/src/environments/environments.ts
Due: frontend-build, build, test

yes
  .gitlab-ci.yml
Due: none

no?
  .gitlab-ci.yml
Due: none

fix: make gradlew executable
  backend/gradlew
Due: build, test

yes
  backend/Dockerfile
Due: build, test

please
  .gitlab-ci.yml
Due: none

Path conditions:
  frontend-build: any of: frontend/**/*
  build: any of: backend/**/*
  test: any of: backend/**/*
